{% extends 'base.html.twig' %}
{% form_theme formProduit 'bootstrap_4_layout.html.twig' %}

 {% block corps %}
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <legend>Veuillez completer tout le champ</legend>
                 {{form_start(formProduit)}}
                 {{form_widget(formProduit)}}    
                <button type="submit" class="btn btn-success">Ajouter</button>
                <a href="{{path('afficheProduit')}}" class="btn btn-primary">Liste des produits</a>
                {{form_end(formProduit)}}
            </div>
           
        </div>    
    </div>
 {% endblock %}